* { padding: 0; margin: 0; box-sizing: border-box;}
.base {
	padding-top: 30px;
	min-height: 100vh;
	display: grid;
	grid-template-areas: 
		"servers-list sidebar chat";
	grid-template-columns: 80px 250px 1fr;
}
.toolbar {
	position: absolute;
	height: 30px;
	width: 100%;
	background-color: black;
	padding: 3px;
}
.servers {
	position: relative;
	grid-area: servers-list;
	background-color: #2e2e2e;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.servers > .logo, .servers .server, .servers > .extra {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
	overflow: hidden;
}

.servers > .logo {
	background-image: url(https://i.imgur.com/JwTJomX.png?1);
	background-position: center center;
	background-size: contain;
}

.servers > .extra {
	background-color: rgb(0, 0, 0);
	color: greenyellow;
}

.servers > .server {

}

.servers .server > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.servers .server:hover {
	border-radius: 30%;
}

.sidebar {
	display: flex;
	flex-direction: column;
	grid-area: sidebar;
	background-color: #3a3a3a;
	color: #979797;
}
.sidebar > .sidebar-title {
	border-bottom: 1px solid black;
	height: 50px;
}

.sidebar > .sidebar-channels {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	flex-grow: 1;
}

.sidebar > .sidebar-channels > details {
	margin: 12px 0;
	cursor: pointer;
}
.sidebar > .sidebar-channels > details > summary {
	margin: 10px 3px;
}

.sidebar > .sidebar-channels > details > ul {
	color: rgb(201, 201, 201);
	list-style-type: none;
	
}
.sidebar > .sidebar-channels > details > ul li {
	width: 100%;
	position: relative;
	margin: 8px 0;
	font-size: 1.3em;
}

.sidebar > .sidebar-channels > details > ul li > div {
	padding: 7px;
	margin: 9px 9px 9px 9px;
	border-radius: 5px;
	white-space: nowrap;
}

.sidebar > .sidebar-channels > details > ul li > div.active {
	background-color: rgb(122, 122, 122);
}

.sidebar > .sidebar-channels > details > ul li:hover > div {
	background-color: rgb(122, 122, 122);
}

.sidebar > .sidebar-channels > details > ul li.hasmentions {
	font-weight: bold;
	color: #fff;
}

.sidebar > .sidebar-channels > details > ul li.hasmentions::before {
	border-left: 2px solid yellow;
	height: 100%;
	display: block;
	z-index: 999;
	position: absolute;
	content: '';
	left: 0px;
	top: 0px;
	overflow:visible;
}

.chat {
	grid-area: chat;
	display: grid;
	grid-template-areas: 
		"chat-title chat-title"
		"chat-messages chat-users"
		"chat-input chat-users";
	grid-template-rows: 50px 1fr auto;	
	grid-template-columns: 1fr 300px;
}
.chat > .chat-title {
	grid-area: chat-title;
	background-color: #696969;
	border-bottom: 1px solid black;
}
.chat > .chat-input {
	grid-area: chat-input;
	min-width: 0;
	min-height: 0;
	max-height: 50vh;
	background-color: #696969;
	border-top: 1px solid rgb(207, 207, 207);
}
.chat > .chat-input > .input-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(179, 179, 179);
	margin: 10px;
	padding: 4px 	10px;
	border-radius: 10px;
}
.chat > .chat-input > .input-wrapper > textarea {
	width: 100%;
	padding: 10px;
	margin: 10px;
	border: none;
	font-size: 1.5em;
	resize: none;
	height: 42px;
	max-height: 40vh;
	background-color: rgb(179, 179, 179);
}
.input-attachment-btn {
	padding: 10px;
	margin: 10px;
	background-color: transparent;
	border: none;
	border-right: 1px solid #fff;;
}
.chat > .chat-messages {
	grid-area: chat-messages;
	overflow-y: scroll;
	min-height: 0;
	background-color: #696969;
}
.chat > .chat-users {
	grid-area: chat-users;
	background-color: #383838;
	overflow-y: scroll;
}