* { margin: 0; padding: 0; box-sizing: border-box; font-family: Ginto, "Helvetica Neue", Helvetica, Arial, sans-serif;}

.wrapper {
	background-color: rgb(27, 27, 27);
	color:rgb(177, 177, 177);
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-areas: 
		'toolbar toolbar toolbar toolbar'
		'sidebar server-panel channel-title channel-title'
		'sidebar channels chat-messages users-list'
		'sidebar channels chat-messages users-list'
		'sidebar channels chat-inputs users-list'
		'sidebar profile-panel chat-inputs users-list';
	grid-template-columns: 80px 300px 1fr 350px;
	grid-template-rows: 30px 70px 1fr 1fr 20px 70px;
	overflow: auto;
	--main-bg-color: rgba(34, 36, 48, 0.867);
	--sides-bg-color: rgba(14, 17, 39, 0.5);
	--profile-bg-color: rgba(46, 48, 56, 0.9);
}
.noscrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.noscrollbar::-webkit-scrollbar {
	display: none;
}

button.btn {
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	outline: none;
}

.toolbar {
	grid-area: toolbar;
	background-color: rgba(0,0,0,.9);
}
.sidebar {
	grid-area: sidebar;
	background-color: rgba(0,0,0,.9);
}
.server-panel {
	grid-area: server-panel;
	background-color: var(--sides-bg-color);
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
	color:rgb(255, 255, 255);
	font-size: 1.3em;
	justify-content: space-between;
	padding: 10px 40px 10px 10px;
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	border-top-left-radius: 9px;
}
.channels {
	grid-area: channels;
	background-color: var(--sides-bg-color);
	overflow-y: scroll;
}
.profile-panel {
	grid-area: profile-panel;
	background-color: var(--profile-bg-color);
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.channel-title {
	grid-area: channel-title;
	background-color: var(--main-bg-color);
	border-bottom: 1px solid black;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: center;

}

.chat-messages {
	grid-area: chat-messages;
	background-color: var(--main-bg-color);
	overflow-y: scroll;
	padding: 10px;
	border-bottom:  1px solid rgb(77, 77, 77);
	
}

.chat-messages::-webkit-scrollbar {
	width: 8px;
	background-color: var(--main-bg-color);
	background: linear-gradient(95deg, rgba(1,8,65,0.89) 0%, rgba(4,48,77,0.46) 100%);
}

.chat-inputs {
	grid-area: chat-inputs;
	background-color: var(--main-bg-color);
}
.users-list {
	grid-area: users-list;
	background-color: var(--sides-bg-color);
	overflow-y: scroll;
	background: linear-gradient(95deg, rgba(14,17,39,0.7903362028405112) 0%, rgba(4,48,77,0.7063025893951331) 100%);
}

.profile-panel .profile-info {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
}

.profile-panel .btn {
	padding: 4px;
	margin: 4px;
	border-radius: 4px;
}

.profile-panel .btn:hover {
	background-color: rgba(122, 122, 122, .3);
}

.profile-panel .btn .material-icons {
	color:rgb(145, 145, 145)
}

.profile-panel .avatar {
	min-width: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 10px;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
}

.profile-panel  .profile-info .profile-name {
	color: #fff;
	font-size: 1.2em;
	flex-grow: 1;
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
}
.profile-panel  .profile-info .profile-discriminator {
	color: rgb(139, 139, 139);
	font-size: .9em;
	width: 100%;
}

.logo {
	background-image: url(https://i.imgur.com/JwTJomX.png?1);
	background-position: center center;
	background-size: contain;
}

.sidebar .logo, .sidebar .extra, .sidebar .server {
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
	overflow: hidden;
	border: 1px dashed rgb(32, 66, 55);
	color: yellowgreen;
}

.channels > details > summary::-webkit-details-marker {
	display: none;
}

.channels > details > summary {
	list-style-type: none;
}

.channels > details > summary::before {
	content: '▶️';
	padding-right: 5px;
}

.channels > details[open] > summary::before {
	content: '🔽';
	padding-right: 5px;
}

.channels > details > div {
	margin-left: 20px;
}

.channels > details > summary {
	margin: 15px 5px;
	cursor: pointer;
}

.channels {
	color: rgb(201, 201, 201);
	font-size: 1.3em;
}

.channel {
	padding: 7px;
	margin: 3px 9px 3px 9px;
	border-radius: 5px;
	white-space: nowrap;
	cursor: pointer;
	position: relative;
}

.channel:hover, .channel.active {
	background-color: rgba(122, 122, 122, .3);
}

.channel.hasmetions {
	font-weight: bold;
	color: #fff;
}

.channels .channel.hasmentions::before {
	border-left: 2px solid yellow;
	height: 100%;
	display: block;
	z-index: 999;
	position: absolute;
	content: '';
	right: 0px;
	top: 0px;
	overflow:visible;
}

.users-list .user {
	display: flex;
	color:rgb(255, 255, 255);
	align-items: center;
	margin: 2px 2px 10px 9px;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

.users-list .users-category {
	color:rgb(145, 145, 145);
	padding: 10px;
	margin: 20px 2px 0px 9px;
}

.users-list .user:hover {
	background-color: rgba(255, 255, 255, .2);
}

.users-list .user .user-avatar {
	width: 40px;
	height: 40px;
	margin: 0 10px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.users-list .user .user-name-wrapper > div {
	white-space: nowrap;
	overflow: hidden;
}
.user .user-subtext {
	color: rgb(145, 145, 145);
}
.user .user-name {
	font-size: 1.2em;
}

.chat-inputs > .input-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(78, 78, 78, 0.7);
	margin: 10px;
	padding: 4px 10px;
	border-radius: 10px;
}

.chat-inputs .input-wrapper > textarea {
	width: 100%;
	height: 42px;
	padding: 10px;
	margin: 7px;
	border: none;
	font-size: 1.3em;
	resize: none;
	color:rgb(221, 221, 221);
	max-height: 40vh;
	background-color: transparent;
	border-left: 1px solid rgb(163, 163, 163);
	outline:0px none transparent;
}

.channel-title .channel-name {
	flex-grow: 1;
	margin: 0 20px;
	color:rgb(255, 255, 255);
	font-size: 1.4em;
}

.channel-title .channel-utils {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.channel-title .channel-utils .searchBar {
	display: flex;
	align-items: center;
	color:rgb(146, 146, 146);
	border-radius: 7px;
	background-color: rgba(0,0,0,.8);
	padding: 0 10px 0 5px;
}
.channel-title .channel-utils .searchBar input {
	color:rgb(180, 180, 180);
	font-size: 1.3em;
	padding: 7px;
	border: none;
	outline: none;
	background-color: transparent;
}

.channel-title .channel-utils .btn > .material-icons {
	font-size: 32px;
	color:rgb(177, 177, 177);
}

.channel-utils > div {
	margin: 0 10px;
}
